body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  font-family: "Georgia", serif;
  color: white;
}

h2 {
  font-family: "Georgia", serif;
  color: #455172;
}

header {
  background-color: #667292;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul p {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  border-radius: 8px;
}

footer {
  background-color: #9fa9a3;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    margin: 10px;
  }
}
